:root {
  --font: "Georgia";
}

html,
body {
  background: rgba(10, 20, 30, 1);
  background-size: cover;
  image-rendering: pixelated;
  font-family: var(--font), sans-serif;
  margin: 0;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
}

/* Background and Screen */
#crt {
  animation: crt-on 1s linear;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

#crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: crt-flicker 0.15s infinite;
}

#crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(24, 24, 24, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.06),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 2px, 4px 100%;
  pointer-events: none;
}

canvas {
  animation: screen-fade-in 5s linear;
  margin: 8px;
  position: absolute;
  width: calc(100% - 24px);
  z-index: -10;
}

main {
  animation: screen-fade-in 5s linear, crt-text-flicker 2.5s infinite;
  height: 100%;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Element Styling */
button {
  font-family: var(--font), sans-serif;
  font-size: 16px;
  min-height: 24px;
}

nav {
  display: flex;
  margin: 36px 0;
}

nav > button,
nav > a {
  margin: 0 24px;
}

/* Window */
.win {
  max-width: 600px;
  margin: 12px;
}

.win-body {
  font-size: 16px;
  margin: 0;
  padding: 8px;
  max-height: calc(100vh - 250px);
  overflow-y: auto;
}

.win-body > h2 {
  text-align: center;
}

.project {
  display: flex;
  flex-direction: column;
}

.project > p,
.project > a {
  font-family: var(--font), sans-serif;
}

.project > img {
  align-self: center;
  height: 300px;
  margin: 8px 0;
  width: 300px;
}

/* Footer */
footer {
  position: relative;
  bottom: 1.5em;
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.7);
  background-color: #00cccc;
  color: #000;
  font-family: "Sacramento", cursive !important;
  font-size: 1.2em;
  text-align: center;
  text-shadow: none;
}
